@media (max-width: 1920px) {
    .news {
     width: 246px;
    }
}

@media (max-width: 1600px) {
    .news {
     width: 180px;
    }
}

@media (max-width: 1440px) {
    .news {
     width: 201px;
    }
}
@media (max-width: 1280px) {
    .news {
     width: 161px;
    }
}

.news {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 10px 0px;
    margin: 1px 0px;
    box-shadow: 0px 0.9px 2px rgba(0, 0, 0, 0.32);
}

.container{
    width: 100%;
    display: flex; 
    justify-content: space-around;
    align-items: center;
}

.title{
	font-weight: 550;
	font-size: 14px;
	line-height: 20px;
	color: #29313D;
}

.text1{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #29313D;
}

.text2{
    width: 33px;
    font-style: 550;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #26A644;
}

.text3{
    width: 33px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #52627A;
}

.text4{
    width: 93px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #29313D;
}
